*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    transition: transform;
    color: white;
    font-size: 33px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}
.item:hover{
    transform: scale(1.5);
}
.links{
    font-size: 40px;
    width: 100px;
    display: flex;
    gap: 3em;
    position: absolute;
    left: 12em;
}
body{
    background: url(hexagonal-abstract-technology-background-illustration-vector.jpg) no-repeat;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}
.menu-container{
    font-size: 40px;
    width: 100px;
    display: flex;
    gap: 3em;
    position: absolute;
    left: 12em;
}
.container{
width: 1200px;
height: auto;
margin: auto;
color: white;
position: relative;
}
.container .parag{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.container h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}