*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.imagem{
    position: relative;
    text-align: center;
    padding: 10px;
}
p{
    font-size: 16px;
}
a{
    color: orange;
}
td {
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-color: black;
    text-align: center;
}

th {
    border-style: solid;
    border-color:black;
    text-align: center;
}
footer {
    margin-top: 50px;
}

footer p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}